.resetWholeDiv{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetsDiv{
    max-width: 470px;
    width: 100%;

}

.logoDiv{
    margin-top: 155px;
    text-align: center;
}

.resetPassword{
    margin-top: 48px;
    margin-bottom: 64px;
    font-family:Rubik-Medium, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #1D1B87;
    text-align: center;
}

